/*definindo nosso estilo... */
@charset "utf8";

.fundofixo{
    background: url('../images/fundooo.png') no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
}
.logo{
    margin-top: 15px;
}

.fundoo{
    background: url('../images/dentrochurascaria.jpg') no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
}